body {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 8px;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #343a40;
    padding: 10px;
    margin: 20px 0;
  }

  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: arial;
    margin: 0 15px;
  }

div > .squirtle {
    background-color: black;
    max-width: 800px;
    text-align: center;
}